# Copyright (C) 2022 - 2025 Alessandro Iepure
#
# SPDX-License-Identifier: CC0-1.0

.flatpak-builder/
.flatpak/
.vscode/
builddir/
_build/

.pre-commit-config.yaml
me.iepure.devtoolbox-release.json
po/*.mo

*.flatpak
*.flatpakref