# GNOME Builder
build/
_build/
builddir/
build-aux/app
build-aux/.flatpak-builder/
src/config.rs
*.ui.in~
*.ui~
.flatpak/
vendor

# IDEs
.vscode/
.idea/

# Rust
**/target/
**/Cargo.lock

# Others
*.flatpak
